<div class = "topHeader">
    <h2>회원가입</h2>
</div>

<div class = "reg-form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
  
    <div class="field">
      <%= f.label :email , "이메일" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" , placeholder: '아이디' %>
    </div>
  
    <div class="field">
      <%= f.label :password , "비밀번호" %>
      <% if @minimum_password_length %>
      (<%= @minimum_password_length %> 이상)
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" , placeholder: '비밀번호'%>
    </div>
  
    <div class="field">
      <%= f.label :password_confirmation , "비밀번호 확인" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" , placeholder: '비밀번호 확인'%>
    </div>
  
    <div class="actions submit-btn">
      <%= f.submit "회원가입"%>
    </div>
  <% end %>
</div>
<%= render "devise/shared/links" %>
